
@import url('https://fonts.googleapis.com/css?family=Rubik Gemstones');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

.headerfont{
    font-family: 'Rubik Gemstones';
  }
.thebody{
  font-family: 'Tangerine';
}
.loading{
  font-family: 'Tangerine';
  font-size: 50px;
}