@import url('https://fonts.googleapis.com/css?family=Rubik Gemstones');

body {
  margin: 0;
  padding:0;
  background: linear-gradient(to right, #137752 , #9eebcf);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

